* {
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:20px 20px 0 20px;
   
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

li {
    list-style: none;
    font-size: 25px;
}

a {
    text-decoration: none;
}
.left{
    font-size: 50px;
    color: rgb(18, 171, 218);
}
.main h1{
     
    font-size: 60px;
    text-align: center;
}

.main{
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 68vh;
    margin-top: 20px;
    color: aliceblue;
    background: linear-gradient(to right,cadetblue,white);
 
}
.main h2{
    text-align: center;
    font-size: 70px;
    color: rgb(18, 171, 218);;
}
.ps{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ps h1{
    font-size: 50px;
}
.ps img{
   margin: 10px;
   height: 450px;
   width: 700px;
   /* width: 200px; */
}
.ps button{
    height: 50px;
    width: 100px;
}
form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#prob1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#prob2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#prob3{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="submit"] {
    background-color:cornflowerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}